footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    z-index: 10;
    width: 100%;
    .footer-right{
        display: flex;
        align-items: center;
        gap: 20px;

        div{
            .footer-btn{
                background: #F5167E;
                border-radius: 50px;
                height: 60px;
                width: 200px;
                box-shadow: 0px 10px 50px 0px #3D37F140;
                border: 0px;
                p{
                    color: white;
                    letter-spacing: 1px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }  

    }
}