.images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: minmax(auto, 350px);
    grid-gap: 20px;
}

.images-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}