.login-form {
    max-width: 400px;
    margin: 5vh auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  
    .login-header {
      text-align: center;

      .error-message {
        height: 20px; 
        font-weight: 400;
        color: red;
        visibility: hidden;
      }
  
      .error-message.visible {
        visibility: visible; 
      }
  
      h2 {
        margin-bottom: 5px;
      }
  
      p {
        margin-bottom: 20px;
  
        a {
          color: #007bff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .input-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
  
      .forgot-password {
        display: block;
        text-align: right;
        margin-top: 5px;
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .checkbox-group {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  
      input {
        margin-right: 10px;
      }
    }
  
    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #F5167E;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;

  
    //   &:hover {
    //     background-color: #e6004c;
    //   }
    }
  
    .social-login {
      text-align: center;
  
      p {
        margin: 20px 0;
      }
  
      .social-button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        background-color: white;
        color: black;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem 1.5rem;
        font-weight: 400;
        
        svg{
            height: 100%;
            width: 100%;
        }
  
        &.facebook {
        //   background-color: #3b5998;
        //   color: #fff;
        }
  
        &.google {
        //   background-color: #db4437;
        //   color: #fff;
        }
  
        &.apple {
        //   background-color: #000;
        //   color: #fff;
        }
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  