.profile-dropdown {
  position: relative;
  display: inline-block;

  .profile-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set the icon color to white */
    cursor: pointer;
    font-size: 24px; /* Adjust the font size if needed */
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #5522CC;
    border: 1px solid #ED4690;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 200px;
    z-index: 1000;
    animation: fadeIn 0.3s;

    .user-info {
      padding: 15px;
      border-bottom: 1px solid #ED4690;
      cursor: pointer;
      &:hover {
        background-color: #ED4690;
        color: white;
      }

      p {
        margin: 0;
        font-weight: bold;
        color: white;
      }
    }

    .logout {
      padding: 10px;
      text-align: center;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #ED4690;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
