@mixin btn(){
      width: 100%;
      padding: 10px;
      background-color: #0073e6;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
}

.form-container {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  h2 {
    margin-top: 0;  
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"] {
      width: calc(100% - 20px);
      padding: 8px 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      @include btn();

      &:hover {
        background-color: #005bb5;
      }
    }
    input[type="submit"].payment {
      @include btn();
      background-color: green;
    }

    

    p {
      font-size: 12px;
      color: #666;
    }
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  height: 2em;
  width: 1.5em;

  .close-icon {
    font-size: 24px;
    color: #333;
  }

  &:hover .close-icon {
    color: #ff4081;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.blurred {
  filter: blur(5px);
}

