@mixin header {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: left;
}

@mixin li {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.footer {
    background: #0a075f;
    padding: 5vh 5vw;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .part1 {
        width: 100%;
        max-width: 400px;

        header {
            @include header();
            font-size: 24px;
            font-weight: 800;
        }

        .contentbar {
            margin: 10px 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 22.4px;
        }

        svg {
            margin-right: 10px;
        }
    }

    .part2,
    .part3 {
        width: 100%;
        max-width: 200px;

        header {
            @include header();
            font-size: 20px;
            font-weight: 800;
        }

        ul {
            li {
                @include li();
            }
        }
    }

    .part4 {
        width: 100%;
        max-width: 400px;

        header {
            @include header();
            font-size: 20px;
            font-weight: 800;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22.4px;
        }

        .input {
            width: 100%;
            display: flex;
            align-items: center;
            /* Align items vertically */
            margin-top: 10px;
            /* Add some space between the paragraph and the input */

            input {
                flex-grow: 1;
                height: 50px;
                border-radius: 25px 0 0 25px;
                border: 2px solid #f1f1f1;
                outline: none;
                padding: 0 20px;
                font-size: 16px;
                /* Increase font size */
                box-sizing: border-box;
                /* Ensure padding and border are included in the width */
            }

            input::placeholder {
                font-size: 16px;
                /* Increase placeholder font size */
                opacity: 0.8;
                /* Reduce opacity for placeholder text */
            }

            .subbtn {
                background-color: #f5167e;
                color: white;
                border: none;
                border-radius: 0 25px 25px 0;
                cursor: pointer;
                padding: 0 20px;
                height: 50px;
                margin-bottom: 5px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #d40d6a;
                    /* Darker color on hover */
                }

                p {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 15.83px;
                    letter-spacing: 0.065em;
                    text-align: center;
                    margin: 0;
                    /* Remove default margin */
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;

        .part1,
        .part4 {
            text-align: center;
        }

        .part1,
        .part2,
        .part3,
        .part4 {
            max-width: none;
        }

        .part1,
        .part2,
        .part3,
        .part4 {
            margin-bottom: 30px;
        }
    }
}