.role{
    display: flex;
    gap: 20px;
    div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.cropImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
