.Details-header{
    margin-top: 3vh;
    h1{
        all: unset;
        font-weight: 700;
        line-height: 1.375;
        font-size: 1.875rem;
    }
    h4{
        all: unset;
        display: block;
        font-weight: 400;
        line-height: 1.375;
        font-size: 1.2rem;
    }
    div{
        margin-top: 0.5rem;
        .image-header{
            display: flex;
            align-items: center;
            .image-section{
                margin-right: 2rem;
                display: inline;    
            }
            .image-content{
                display: flex;
                flex-direction: column;
                .name{
                    font-weight: 800;
                    line-height: 30px;
                    font-size: 18px;
                }
            }
        // adding the comment
        }
    }

}

.detail-content{
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    .left-content{
        width: 60%;
        span{
            width: 100%;
            img{
                width: 100%;
                max-height: 55vh;
            }
        }
        
    }
    .right-content{
        width: 35%;
        .content-card{
            background-color: white;
            box-shadow: 0px 18.95px 47.38px 0px #7773AA1A;
            padding: 1.5rem;
            border-radius: 30px;
        }
    }
}

.header{
        font-weight: 700;
        font-size: 25px;
        line-height: 50px; 
}

.section{
    padding-top: 3vh;
}
